<% if f.object.class.multiple? key %>
  <%= f.input key, as: :multi_value, 
      input_html: { class: 'form-control' }, 
      required: f.object.required?(key),
      what: "#{key}" 
  %>

<% else %>
  <%= f.input key, required: f.object.required?(key) %>
<% end %>
