<%= presenter.attribute_to_html(:creator, render_as: :faceted) %>
<%= presenter.attribute_to_html(:contributor, render_as: :faceted) %>
<%= presenter.attribute_to_html(:admin_set, render_as: :faceted) %>
<%= presenter.attribute_to_html(:subject, render_as: :faceted) %>
<%= presenter.attribute_to_html(:publisher, render_as: :faceted) %>
<%= presenter.attribute_to_html(:language, render_as: :faceted) %>
<%= presenter.attribute_to_html(:identifier, render_as: :linked, search_field: 'identifier_tesim') %>
<%= presenter.attribute_to_html(:keyword, render_as: :faceted) %>
<%= presenter.attribute_to_html(:date_created, render_as: :linked, search_field: 'date_created_tesim') %>
<%= presenter.attribute_to_html(:based_near, render_as: :faceted) %>
<%= presenter.attribute_to_html(:related_url, render_as: :external_link) %>
<%= presenter.attribute_to_html(:resource_type, render_as: :faceted) %>
<%= presenter.attribute_to_html(:source) %>
<%= presenter.attribute_to_html(:doi) %>
