<table class="table table-striped collection-highlights">
  <tbody>
    <% @admin_sets.each do |admin_set| %>
      <tr>
        <td>
          <div class="media">
            <%= link_to [sufia, admin_set], class: 'media-left', 'aria-hidden' => true do %>
              <%= render_thumbnail_tag admin_set, { class: 'hidden-xs file_listing_thumbnail' }, { suppress_link: true } %>
            <% end %>
            <div class="media-body">
              <div class="media-heading">
                <%= link_to [sufia, admin_set] do %>
                  <%= admin_set.title_or_label %>
                <% end %>
              </div>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

