<div class="draft">
    <p> Here is some text about DRUW.
    </p>
    
    <section>
        <h2>Policies</h2>
        <ul>
	    <li><%= link_to t(:'sufia.statics.collection_policy'), collection_policy_path %></li>
            <li><%= link_to t(:'sufia.statics.terms_of_use'), terms_of_use_path%></li>
            <li><%= link_to t(:'sufia.statics.terms_of_deposit'), terms_of_deposit_path %></li>
            <li><%= link_to t(:'sufia.statics.withdrawal'), withdrawal_path %></li>
            <li><%= link_to t(:'sufia.statics.protected_info'), protected_info_path %></li>
            <li><%= link_to t(:'sufia.statics.privacy'), privacy_path %></li>
        </ul>
    </section>

    <section>
        <h2>Frequently Asked Questions</h2>
        <p> Here's a link to the  <%= link_to faq_path do%>FAQ<%end%>.
        </p>
    </section>

    <section>
        <h2>Technical Infrastructure</h2>
        <p> DRUW is built on Hydra Sufia (currently v<%= Sufia::VERSION %>). 
            Our data model is CPDM. We can take anything, but we have a 
            list of preferred formats.
        </p>
    </section>

    <section>
        <h2 id="about_contact">Contact Us</h2>
        <p> <%=t('sufia.product_name')%> is supported by the UW Libraries'
            <a href="null">Digital Strategies</a> group. For general 
            questions, contact:
        </p>
        <ul>
           <li>Repository Librarian: David Tolmie 
               <a href="mailto:dtolmie@edu">dtolmie.edu</a>
           </li>
           <li>Data Services Project Librarian: Liz Bedford
               <a href="mailto:ebedford@uw.edu">ebedford@uw.edu</a>
           </li>
        </ul>
    </section>

</div>
