
<p class="draft">
    This collection policy document provides a general framework against which 
    current and future collection decisions can be made. It is intended to be a 
    dynamic and flexible document, responsive to changes in the academic 
    environment and attentive to the work of other UW units and programs.
</p>

<section class="draft">
    <h2>Content Guidelines</h2>
    <ol>
        <li>The work must be produced by University of Washington faculty, 
            staff or students.
        </li>
        <li>The work must be scholarly or research oriented and reflect the 
            intellectual environment of the University. 
            <%=t('sufia.product_name')%> imposes no disciplinary restrictions.
        </li>
        <li>If the work is part of a series, other works in that series 
            should also be contributed so that <%=t('sufia.product_name')%> can 
            offer as full a set as possible.
        </li>
        <li>Research data may be in support of a publication or could 
            represent unpublished work.
        </li>
        <li>Research data should be in its final, analyzable state. Raw data 
            files are also welcome along with the final version and should be 
            uploaded together.
        </li>
    </ol>
</section>     

<section class="draft">
    <h2>Deposit Guidelines</h2>
    <ol>
        <li>The author/owner must submit the work with the intent that it 
            ultimately be made available on a permanent basis. It should be 
            complete, correct, and ready for "publication".
        </li>
        <li>The author/owner should have and be willing and able to grant 
            the University of Washington the right to preserve and distribute 
            the work via <%=t('sufia.product_name')%>.
        </li>
        <li>The author/owner is responsible for ensuring that the submission 
            is free from personally identifiable   information and does not 
            contain any restricted or prohibited data.
        </li>
        <li>The work must be free from copyright restrictions that prohibit 
            deposit and must not violate any patent, trademark, or other 
            rights.
        </li>
        <li>Once content has been deposited into 
            <%=t('sufia.product_name')%>, it will not be removed unless for a 
            <%= link_to withdrawal_path do %>compelling reason<%end%> such as a 
            copyright violation.        
        </li>
        <li>Depositors agree to the <%=link_to terms_of_deposit_path do%>
            <%=t('sufia.product_name')%> Terms of Deposit<%end%>.
        </li>
    </ol>
        
    <section>
        <h3>Copyright</h3>
        <p> Placement of an article or other work in 
            <%=t('sufia.product_name')%> is equivalent to publication, so 
            authors must exercise due diligence in clearing any needed rights 
            including any third party copyrights, patents, trademarks, or 
            others.  For additional information, consult the following:
        <ul>
            <li><a href="null">CoMotion website</a>
            </li>            
            <li><a href="null">ResearchWorks Copyright and Author Rights FAQ 
                page</a>
            </li>            
            <li><a href="null">Electronic Theses and Dissertations - 
                Copyright</a>
            </li>            
            <li><a href="null">Open Access and Publishing FAQ</a>
            </li>
        </ul>
    </section>
    <section>
        <h3>Quality Control</h3>
        <p> Depositors are responsible for ensuring that deposited data sets 
            are in their final and analyzable states. In all cases, depositors 
            must be sure that the materials do not violate the 
            <%=link_to protected_info_path do%>
            <%=t('sufia.product_name')%> Protected Information Policy<%end%>.
        </p>
    </section>
</section>

<section class="draft">
    <h2>Technical Guidelines</h2>
    <ol>
        <li>Individual files should not be larger than 1TB.
        </li>
        <li>Deposit of materials to <%=t('sufia.product_name')%> requires a 
            minimum set of descriptive information (metadata) to be provided at 
            the point of deposit.
        </li>
        <li>Deposited materials, or the process of depositing, must not 
            cause harm to UW and UW campus technology systems.
        </li>
    </ol>

    <section>
        <h3>Size</h3>
        <p> Individual files up to 1 TB in size may be uploaded. Depending 
            on the speed of your internet connection, the uploading of large 
            files may take a significant amount of time. If you have a file or 
            collection of files larger than this, please 
            <%=contact_link('contact the repository manager')%>.
        </p>
    </section>

    <section>
        <h3>Formats</h3>
        <p> Any type of file may be uploaded into the repository. However, we 
            suggest uploading in a file format recommended for long-term 
            preservation, which will provide a greater chance that your file 
            will continue to be usable as technology (hardware and software) 
            changes. See the <a href="null">List of Recommended File 
            Formats</a> for more information or 
            <%=contact_link('contact the repository manager')%>. All deposited 
            material should be logically renderable, 
            according to the limitations and opportunities of current 
            technologies. For more information see the <a 
            href="null">ResearchWorks Digital Preservation Policy</a>.
        </p>
    </section>

    <section>
        <h3>Metadata</h3>
        <p> As a condition of deposit, the depositor agrees to enter to the 
            best of their abilities, at a minimum, the following required 
            information: the name of the creator(s)/author(s); a title for the 
            material; the date of creation; and applicable license and/or rights 
            information. The metadata form will have other optional fields the 
            depositor can choose to fill out, which may enhance discoverability 
            and utility of the materials for others. Certain metadata can be 
            edited after submission by the original depositor and those defined 
            as proxies. A librarian may edit submitted metadata for accuracy, 
            including fixing errors and enhancing submitted content. Metadata 
            is always openly accessible. For questions or assistance, please 
            <%=contact_link('contact the repository librarian')%>.
        </p>
    </section>
</section>
