<p class="draft">
   <abbr title="<%=t('sufia.product_long_name')%>"><%=t('sufia.product_name')%></abbr> 
   is intended to provide persistent access to deposited material. Under 
   limited circumstances, however, it may be necessary to remove material 
   from the Repository. Any request for removal should be 
   <a href="null">directed to the <%=t('sufia.product_name')%> 
   administrators</a> and include the reasons for withdrawal. 
   <%=t('sufia.product_name')%> staff may contact the requester for 
   additional information. The decision to withdraw or not rests solely 
   with <%=t('sufia.product_name')%>.
</p>

<section class="draft">
    <h2>Administrative Withdrawal</h2>
    <p> <%=t('sufia.product_name')%> may terminate or suspend access to and 
        use of the Repositories for any reason, including for violation of any 
        <a href="null"><%=t('sufia.product_name')%> Policy</a> or other 
        conduct that <%=t('sufia.product_name')%> believes to be unlawful or 
        harmful to others. Content not considered to fall under the scope of 
        the Repositories will be removed; see the 
        <a href="null"><%=t('sufia.product_name')%> Collections Policy</a> 
        for more information.
    </p>
    <p> Most triggers for withdrawal would include discovery of a copyright 
        or privacy violation. A withdrawal request may be initiated by the 
        depositor or, in the case of a copyright violation, an internal or 
        external entity. If a withdrawal is requested due to an alleged 
        copyright or privacy violation, <%=t('sufia.product_name')%> will notify
        the depositor and immediately block access to the item. 
        <%=t('sufia.product_name')%> is not responsible for resolving copyright 
        disputes. If it is found that copyright was not violated, access to the 
        withdrawn item will be reinstated.    
    </p>
</section>

<section class="draft">
    <h2>Contributor Withdrawal</h2>
    <p> Withdrawal is considered an exceptional action which must be 
        requested and fully justified by the original contributor(s), as it is 
        directly contrary to <%=t('sufia.product_name')%>’s goal of supporting 
        the <a href="null">forthcoming UW Policy on Open Access</a>. If the 
        submission is based upon work that has been sponsored or supported by 
        an agency or organization other than the University, the author(s) must 
        fulfill any obligations required by the contract or agreement with the 
        agency or organization before requesting withdrawal of deposit from 
        <%=t('sufia.product_name')%>. Individual users may not remove items 
        directly.
    </p>
    <p> Items may not be withdrawn because the depositor or author is moving 
        to another institution. The depositor has the right to give additional 
        copies to other institutions under the non-exclusive agreement. For more 
        information see the 
        <a href="null"><%=t('sufia.product_name')%> Terms of Deposit</a>.
    </p>
</section>

<section class="draft">
    <h2>Persistence</h2>
    <p> Since any item that has existed within <%=t('sufia.product_name')%> 
        may have been cited via its persistent URL, the Repositories will 
        always supply a "tombstone" citation in place of the item. When a 
        withdrawn item is requested, the original metadata along with a 
        withdrawal statement will appear in place of the object.
    </p>
</section>
