<%= form_tag search_form_action, method: :get, id: "search-form-header", role: "search" do %>
  <%= render_hash_as_hidden_fields(search_state.params_for_search.except(:q, :search_field, :qt, :page, :utf8)) %>

    <label class="sr-only" for="search-field-header"><%= t("sufia.search.form.q.label") %></label>
    <%= text_field_tag :q, current_search_parameters , class: "", id: "search-field-header", placeholder: t("sufia.search.form.q.placeholder"), size: "5" %>

      <button type="submit" class="btn btn-primary" id="search-submit-header">
        <%= t('sufia.search.button.html') %>
      </button>

<% end %>
