<div class="btn-group" id="about_menu">
  <%= link_to t(:'sufia.statics.about'), main_app.about_path, :'class'=>"btn" %>
  <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
    <span class="glyphicon glyphicon-menu-down" ></span>
    <span class="glyphicon glyphicon-menu-up" ></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li role="menuitem">
        <%= link_to t(:'sufia.statics.about'), main_app.about_path, :'data-no-turbolink'=>"true", :'class'=>"dropdown-item" %>
    </li>
    <li role="menuitem">
        <%= link_to t(:'sufia.statics.faq'), main_app.faq_path, :'data-no-turbolink'=>"true", :'class'=>"dropdown-item" %>
    </li>
    <li role="menuitem">
        <%= link_to t(:'sufia.statics.collection_policy'), main_app.collection_policy_path, :'data-no-turbolink'=>"true", :'class'=>"dropdown-item" %>
    </li>
    <li role="menuitem">
        <%= link_to t(:'sufia.statics.terms_of_use'), main_app.terms_of_use_path, :'data-no-turbolink'=>"true", :'class'=>"dropdown-item" %>
    </li>
    <li role="menuitem">
        <%= link_to t(:'sufia.statics.terms_of_deposit'), main_app.terms_of_deposit_path, :'data-no-turbolink'=>"true", :'class'=>"dropdown-item" %>
    </li>
    <li role="menuitem">
       <%= link_to t(:'sufia.statics.withdrawal'), main_app.withdrawal_path, :'data-no-turbolink'=>"true", :'class'=>"dropdown-item" %>
    </li>
    <li role="menuitem">
	<%= link_to t(:'sufia.statics.protected_info'), main_app.protected_info_path, :'data-no-turbolink'=>"true", :'class'=>"dropdown-item" %>
    </li>
    <li role="menuitem">
       <%= link_to t(:'sufia.statics.privacy'), main_app.privacy_path, :'data-no-turbolink'=>"true", :'class'=>"dropdown-item" %>
    </li>
  </ul>
</div>
