<% if signed_in? %>


   <% if create_work_presenter.many? %>
   
      <button type="button" class="btn modal-btn" data-behavior="select-work" 
              data-target="#worktypes-to-create" data-create-type="single"> 
         <%= local_assigns[:link_txt] %> 
      </button>

   <% else %>
   
      <% create_work_presenter.first_model do |concern| %>
          <%= link_to( new_polymorphic_path([main_app, concern]),
                       class: "btn item-option contextual-quick-classify #{dom_class(concern, 'new').gsub('_', '-')}",
                       role: 'menuitem'
                     ) do %>

              <%= local_assigns[:link_txt] %> 
 
          <% end %>
      <% end %>

   <% end %>
<% else %>

   <%= link_to sufia.dashboard_index_path, class: "btn" do %>
       
      <%= local_assigns[:link_txt] %>

   <% end %>

<% end %>
