<!-- common footer partial -->
<%= render 'shared/footer' %>

<!-- solr provided modal -->
<%= render 'shared/ajax_modal' %>

<!-- modal for create new work selection -->
<%= render '/shared/select_work_type_modal' if create_work_presenter.many? %>

