<!DOCTYPE html>
<html lang="<%= t("sufia.document_language") %>" prefix="og:http://ogp.me/ns#">
  <head>
    <%= render partial: 'layouts/head_tag_content' %>
  </head>

<body>

<%= render partial: '/local/banner' %>

<%= render partial: '/flash_msg' %>

<main role="main" id="content">
<div id="content-wrapper" class="container">
  <%= render_breadcrumbs builder: Sufia::BootstrapBreadcrumbsBuilder %>

  <% if content_for?(:page_header) %>
    <div class="row">
      <div class="col-xs-12 main-header">
        <%= yield(:page_header) %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-xs-12">
      <%= yield %>
    </div>
  </div><!-- /.row -->
</div><!-- /#content-wrapper -->
</main>

<%= render '/local/page_bottom' %>
</body>
</html>
