<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- META SECTION -->
        <title><%= content_for?(:page_title) ? yield(:page_title) : default_page_title %></title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <%= render "layouts/head_tag_content"%>
        <!-- END META SECTION -->

        <!-- CSS INCLUDE -->
        <%= stylesheet_link_tag 'sufia/admin', data: { turbolinks_track: 'reload' } %>
        <!-- EOF CSS INCLUDE -->
    </head>
    <body>
        <!-- START PAGE CONTAINER -->

        <%= render '/local/banner' %>
        <main role="main" id="content">
        <div class="page-container">

            <!-- START PAGE SIDEBAR -->
            <div class="page-sidebar">
              <%= render 'sufia/admin/sidebar' %>
            </div>
            <!-- END PAGE SIDEBAR -->

            <!-- PAGE CONTENT -->
            <div class="page-content">
                <!-- START BREADCRUMB -->
                <%= render_breadcrumbs builder: Sufia::BootstrapBreadcrumbsBuilder %>
                <!-- END BREADCRUMB -->

                <% if content_for?(:page_header) %>
                  <div class="page-title">
                    <%= yield(:page_header) %>
                  </div>
                <% end %>

                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                  <%= yield %>
                </div>
                <!-- END PAGE CONTENT WRAPPER -->
            </div>
            <!-- END PAGE CONTENT -->
        </div>
        </main>
        <!-- END PAGE CONTAINER -->

        <%= render '/local/page_bottom' %>

    </body>
</html>
