<!DOCTYPE html>
<html lang="<%= t("sufia.document_language") %>">
<head>
  <%= render "layouts/head_tag_content"%>
</head>

<body>

<%= render '/local/banner' %>

<main role="main" id="content">

   <% if controller_name == 'homepage' || controller_name == 'static' %>
      <%= render '/local/image_masthead' %>
   <% end %>


   
   <%= render '/flash_msg' %>
   <div id="content-wrapper" class="container">
     <%= render 'local/static_title_h1' if controller_name == 'static' %>
     <%= yield %>
   </div><!-- /#content-wrapper -->
</main>

<%= render '/local/page_bottom' %>
</body>
</html>
