<!DOCTYPE html>
<html lang="<%= t("sufia.document_language") %>">
<head><%= render 'layouts/head_tag_content' %></head>
<body>

<%= render '/local/banner' %>

<%= render '/flash_msg' %>

<main role="main" id="content">
<div id="content-wrapper" class="container dashboard">
  <% if content_for?(:page_header) %>
    <div class="row">
      <div class="col-xs-12 main-header">
        <div class="row">
          <%= yield(:page_header) %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row">
  <% if content_for?(:sidebar) %>
      <div class="col-xs-12 col-sm-9 col-sm-push-3"><%= yield %></div>
      <div id="sidebar" class="col-xs-12 col-sm-3 col-sm-pull-9"><%= yield :sidebar %></div>
    <% else %>
      <div class="col-xs-12">
        <%= yield %>
      </div>
    <% end %>
  </div>
</div>
</main>

<%= render '/local/page_bottom' %>
</body>
</html>
